html, body, div.main-wrapper, div.main {
  height: 100%; }

.main {
  padding-top: 60px; }

#container {
  height: 100%;
  overflow: scroll;
  padding: 0; }

#sidebar {
  height: 100%;
  padding-right: 0; }

.sidebar-header {
  background-color: #ddd;
  font-size: 24px;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc; }
  .sidebar-header h4 {
    margin: 0; }

.file-list {
  width: 100%;
  padding: 0;
  height: 80%;
  border-right: 1px solid #ccc; }
  .file-list input[type="checkbox"] {
    margin-right: 5px; }
  .file-list .nav-pills > li > a {
    border-radius: 0; }
  .file-list div.btn-group {
    width: 100%; }

.file-drop-zone {
  height: 20%;
  opacity: 1;
  cursor: pointer;
  color: #999;
  z-index: 1001;
  background-color: #ddd;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  padding-top: 10%; }
  .file-drop-zone i {
    font-size: 40px; }

#charts-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll; }

.chart-window {
  border: 1px solid #ddd;
  width: auto;
  padding: 0;
  margin: 0;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
  .chart-window .file-name {
    height: 25px;
    background-color: #566473;
    padding-left: 10px;
    color: white; }
  .chart-window .scale-button {
    position: absolute;
    cursor: pointer;
    cursor: se-resize; }

.modal .text-primary {
  color: white; }
.modal .close {
  color: #ddd; }
