#sidebar {
  height: 100%;
  padding-right: 0;
}

.sidebar-header {
  background-color: #ddd;
  font-size: 24px;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  h4 { margin: 0; }
}

.file-list {
  width: 100%;
  padding: 0;
  height: 80%;
  border-right: 1px solid #ccc;

  input[type="checkbox"] {
    margin-right: 5px;
  }

  .nav-pills > li > a {
    border-radius: 0;
  }

  div.btn-group {
    width: 100%;
  }
}

.file-drop-zone {
  height: 20%;
  opacity: 1;
  cursor: pointer;
  color: #999;
  z-index: 1001;
  background-color: #ddd;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  padding-top: 10%;

  i {
    font-size: 40px;
  }
}
