@import 'bourbon';

html, body, div.main {
  height: 100%;
}

.main {
  padding-top: 60px;
}

#container {
  height: 100%;
  overflow: scroll;
  padding: 0;
}

@import 'sidebar';
@import 'radar_chart';

[v-cloak] {
  display: none;
}
