@import 'bourbon';

html, body, div.main-wrapper, div.main {
  height: 100%;
}

.main {
  padding-top: 60px;
}

#container {
  height: 100%;
  overflow: scroll;
  padding: 0;
}

@import 'sidebar';
@import 'radar_chart';

.modal {
  .text-primary {
    color: white;
  }
  .close {
    color: #ddd;
  }
}
